.cont {
  margin-bottom: 40px;
}
.contents {
  margin-top: 25px;
  display: grid;
  gap: 5px;
  padding: 25px;

  .input-box {
    padding: 5px !important;
    align-items: right;
    background: #fff;
    font-weight: bold !important;
    display: grid !important;
    grid-template-columns: 1fr;
    gap: 1px;
  }
}

.button {
  height: 45px;
  margin: 45px 12px;
}
.button input {
  height: 100%;
  width: 25%;
  outline: none;
  color: #fff;
  background: linear-gradient(135deg, #71b7e6, #9b59b6) !important;
  border: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  align-content: center;
}
.button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}
